<% content_for :subtitle do %>
	...my cousin works for Bit.ly
<% end %>
<div id="titlebar">
	<ul>
		<li><%= link_to image_tag("arrow_left.png", :border => 0, :size => "25x25", :align => "absmiddle")+"Back", session[:go_back], :title => "Back" %>
	</ul>
</div>
<h2><%=h "Editing #{@article.title}" %></h2>
<% form_for(@article) do |f| %>
  <%= f.error_messages %>
	<div id="content">
		<ul>
			<li><%= f.label :title %></li>
			<li><%= f.text_field :title %></li>
		</ul>
		<ul>
			<li><%= f.label :author, "Author Name" %></li>
			<li><%= f.text_field :author %></li>
		</ul>
		<ul>
			<li><%= f.label :body %></li>
			<li><%= f.text_area :body %></li>
		</ul>
		<ul>
			<li></li>
			<li style="text-align: left;"><%= f.submit 'Save Changes' %></li>
		</ul>
	</div>
<% end %>
