!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title
      Games: #{controller.action_name}
    = stylesheet_link_tag 'scaffold'
  %body
    %p
    - if(!current_user) 
      = link_to("Login", login_path)
      = link_to "Register", register_path 
    - elsif(current_user.admin?) 
      = render :partial => "/admin_top_bar"
    - else
      = render :partial => "/member_top_bar"

    %h1= link_to "Games", root_path
    - if(permitted_to? :index, :admin_games)
      =render :partial => '/admin/admin_bar'
    %p{:style => "color: green"}= notice
    %p{:style => "color: red"}= flash[:error]
    = yield
