%h1 Listing games 
= will_paginate @games
%table
  %tr
    %th Title
    %th Rating
    %td Date Added
  - @games.each do |game|
    %tr
      %td= h game.title
      %td= h game.rating
      %td= h "#{game.created_at.to_s(:longdate)} by #{game.user.same_name(current_user)}"
%br/
= page_entries_info @games
