%h1 Editing game
- form_for [:members, @game] do |f|
  = f.error_messages
  %p
    = f.label :title
    %br/
    = f.text_field :title
  %p
    = f.radio_button :rating, 3
    = f.label "Amazing"
    %br
    = f.radio_button :rating, 2
    = f.label "Good"
    %br
    = f.radio_button :rating, 1
    = f.label "Meh"
    %br
    = f.radio_button :rating, 0
    = f.label "Bad!"
  %p
    = f.submit 'Save Changes'
= link_to 'Show', [:members, @game]
|
\#{link_to 'Back', members_games_path}
