%h1
  My Gamez
  =link_to "Add a game", new_members_game_path
%p
  =image_tag current_user.photo.url
%table
  %tr
    %th Title
    %th Rating
    %td Date Added
  - @games.each do |game|
    %tr
      %td= link_to game.title, edit_members_game_path(game)
      %td= game.rating_text
      %td= h "#{game.created_at.to_s(:longdate)} by #{game.user.same_name(current_user)}"
      %td= link_to 'Show', [:members, game]
      %td= link_to 'Edit', edit_members_game_path(game)
      %td= link_to 'Destroy', [:members, game], :confirm => 'Are you sure?', :method => :delete
%br/
= page_entries_info @games
= will_paginate @games

= "I've created #{@total_games_for_user.count} games #{number_to_percentage(percent_rated(@total_games_for_user))} of which are rated"
