%h1 New game
- form_for [:members, @game] do |f|
  = f.error_messages
  %p
    = f.label :title
    %br/
    = f.text_field :title
  %p
    = f.label :rating
    %br/
    = f.text_field :rating
  %p
    = f.submit 'Create'
= link_to 'Back', members_games_path
