%p
  %b Username:
  = h @member.username
%p
  %b First name:
  = h @member.first_name
%p
  %b Last name:
  = h @member.last_name
%p
  %b Email:
  = h @member.email
= link_to 'Edit', edit_member_path(@member)
|
\#{link_to 'Back', members_path}
