%h1 Editing game
- form_for [:admin, @game] do |f|
  = f.error_messages
  %p
    = f.label :title
    %br/
    = f.text_field :title
  %p
    Rating
    %br/
    = f.radio_button :rating, 3
    = f.label "Amazing"
    %br
    = f.radio_button :rating, 2
    = f.label "Good"
    %br
    = f.radio_button :rating, 1
    = f.label "Meh"
    %br
    = f.radio_button :rating, 0
    = f.label "Bad!"
  %p
    = select(:game, :user_id, @users.collect { |p| [ p.long_name, p.id ] })
  %p
    = f.submit 'Save'
= link_to 'Back', members_games_path
