%p
  %b Username:
  = h @user.username
%p
  %b First name:
  = h @user.first_name
%p
  %b Last name:
  = h @user.last_name
%p
  %b Email:
  = h @user.email
= link_to 'Edit', edit_user_path(@user)
|
\#{link_to 'Back', users_path}
