%h1 Editing member
- form_for [:admin, @user], :html => { :multipart => true } do |f|
  = f.error_messages
  %p
    = f.label :username
    %br/
    = f.text_field :username
  %p
    = f.label :password
    %br/
    = f.password_field :password
  %p
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %p
    = f.label :first_name
    %br/
    = f.text_field :first_name
  %p
    = f.label :last_name
    %br/
    = f.text_field :last_name
  %p
    = f.label :email
    %br/
    = f.text_field :email
  %p
    = f.label :photo
    = f.file_field :photo
    =display_photo(@user)
  %p
    = f.label :role_id, "Role"
    = select(:user, :role_id, @roles.collect { |p| [ p.name, p.id ] })
  %p
    = f.submit 'Save Changes'
|
\#{link_to 'Back', members_user_path}
