%h1 Listing Members
%table
  %tr
    %th Username
    %th First name
    %th Last name
    %th Email
  - @users.each do |user|
    %tr
      %td= h user.username
      %td= h user.first_name
      %td= h user.last_name
      %td= h user.email
      %td= link_to 'Show', [:admin, user]
      %td= link_to 'Edit', edit_admin_user_path(user)
      %td= link_to 'Destroy', [:admin, user], :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New member', new_admin_user_path
