%ul
  %li= f.label :title
  %li= f.text_field :title
%ul
  %li= f.label :author_id, "Author"
  %li= f.collection_select(:author_id, @authors, :id, :name, :prompt => "Select One")
%ul
  %li= f.label :body
  %li= f.text_area :body
