<ul>
	<li><%= f.label :title %></li>
	<li><%= f.text_field :title %></li>
</ul>
<ul>
	<li><%= f.label :author_name, "Author Name" %></li>
	<li><%= f.collection_select(:author_id, @authors, :id, :name) %> 
</ul>
<ul>
	<li><%= f.label :body %></li>
	<li><%= f.text_area :body %></li>
</ul>
